#post_title{
  width: 400px;
}
#post_link{
  width: 400px;
}
#post_content{
  width: 400px;
  height: 150px;
}

#no-bullets {
  list-style-type: none;
}

.blue {
  color: #428bca;
  font-size: 1.2em;
}

.red {
  color: #d9534f;
  font-size: 1.2em;
}
